doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Amelia натуральная косметика и селективная парфюмерия
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="./style/style.css")
	body
		include ./_parts/_header.pug
		include ./_parts/_main.pug
		include ./_parts/_sub-footer.pug
		include ./_parts/_footer.pug

		script(src="./scripts/jquery-3.5.1.min.js")
		script(src="./scripts/slick.min.js")
		script(src="./scripts/script.js")
		script(src="./scripts/slider.js")
