.footer
	.wrapper
		.footer__content
			p.footer__address.
				г. Москва, ул. Яблочкова, д. 21а #[br]
				ТЦ "Тимирязевский", 1 этаж #[br]
				8 (499) 755-59-76
			.footer__icons
				a.footer__item(href="#")
					img.footer__img(src="./img/vk.png" alt="vk")
				a.footer__item(href="#")
					img.footer__img(src="./img/vk.png" alt="vk")
				a.footer__item(href="#")
					img.footer__img(src="./img/vk.png" alt="vk")
			ul.footer__about.footer-about
				li.footer-about__item
					a.footer-about__link(href="") О МАГАЗИНЕ
				li.footer-about__item
					a.footer-about__link(href="") ОБРАТНАЯ СВЯЗЬ
		p.footer__copyright Все права защищены законами РФ © www.amelia.ru, 2009 - 2015
