header.header
	.header-top__bg
		.wrapper
			.header-top
				nav.menu
					ul.menu__list
						li.menu__item
							a.menu__link(href="#") МИР AMELIA
						li.menu__item
							a.menu__link(href="#") контакты
						li.menu__item
							a.menu__link(href="#") Оплата и доставка
						li.menu__item
							a.menu__link(href="#") Словарь компонентов
						li.menu__item
							a.menu__link(href="#") Блог
				.marker
					a.marker__link(href="#")
						img.marker__icon(src="./img/star.png" alt="star")
						p.marker__text в закладки
	.wrapper
		.header-bottom
			.phone
				a(href="tel:+84997555976")
					img.phone__img(src="./img/phone.png", alt="phone")
				.phone__container
					p.phone__text Пн.-Сб.: с 8:00 до 21:00
					a.phone__link(href="tel:+84997555976") 8 (499) 755-59-76
			.logo
				a.logo__link(href="#")
					img.logo__img(src="./img/logo.png", alt="")
			.layer
				a.layer__link(href="#")
					img.layer__img(src="./img/layer.png", alt="")
		nav.main-menu
			ul.main-menu__list
				li.main-menu__item
					a.main-menu__link(href="#tab-1") ЛИЦО
				li.main-menu__item
					a.main-menu__link(href="#tab-2") ВОЛОСЫ
				li.main-menu__item
					a.main-menu__link(href="#tab-3") ТЕЛО
				li.main-menu__item
					a.main-menu__link(href="#tab-4") ПАРФЮМЕРИЯ
				li.main-menu__item
					a.main-menu__link(href="#tab-5") мужчинам
				li.main-menu__item
					a.main-menu__link(href="#tab-6") БАД
				li.main-menu__item
					a.main-menu__link(href="#tab-7") ДЕТЯМ
				li.main-menu__item
					a.main-menu__link(href="#tab-8") ДЛЯ ДОМА
				li.main-menu__item
					a.main-menu__link(href="#tab-9") подарки
	.dropdown#tab-2
		.wrapper
			.dropdown__content
				nav.dropdown__menu
					ul.dropdown__list
						li.dropdown__item
							a.dropdown__link.dropdown__title(href="#") ТИП ВОЛОС:
						li.dropdown__item
							a.dropdown__link(href="#") Вьющиеся
						li.dropdown__item
							a.dropdown__link(href="#") Сухие
						li.dropdown__item
							a.dropdown__link(href="#") Тонкие, без объема
						li.dropdown__item
							a.dropdown__link(href="#") Окрашенные
						li.dropdown__item
							a.dropdown__link(href="#") Жирные
						li.dropdown__item
							a.dropdown__link(href="#") Нормальные
						li.dropdown__item
							a.dropdown__link(href="#") Все типы волос
					img.dropdown__img(src="./img/dropdown.png" alt="foto")
					ul.dropdown__list
						li.dropdown__item
							a.dropdown__link.dropdown__title(href="#") НАЗНАЧЕНИЕ:
						li.dropdown__item
							a.dropdown__link(href="#") Очищение
						li.dropdown__item
							a.dropdown__link(href="#") Ополаскивание
						li.dropdown__item
							a.dropdown__link(href="#") Дополнительный уход
						li.dropdown__item
							a.dropdown__link(href="#") Окрашивание
						li.dropdown__item
							a.dropdown__link(href="#") Фиксация
						li.dropdown__item
							a.dropdown__link(href="#") Ароматерапия
						li.dropdown__item
							a.dropdown__link(href="#") Мужчинам
						li.dropdown__item
							a.dropdown__link(href="#") Детям
					ul.dropdown__list
						li.dropdown__item
							a.dropdown__link.dropdown__title(href="#") ОСОБЕННОСТИ:
						li.dropdown__item
							a.dropdown__link(href="#") Перхоть
						li.dropdown__item
							a.dropdown__link(href="#") Чувствительная кожа
						li.dropdown__item
							a.dropdown__link(href="#") Жирная кожа
						li.dropdown__item
							a.dropdown__link(href="#") Сухие кончики
						li.dropdown__item
							a.dropdown__link(href="#") Для выпрямления
						li.dropdown__item
							a.dropdown__link(href="#") Против выпадения
						li.dropdown__item
							a.dropdown__link(href="#") Частое использование
