main.main
	.main-slider
		ul.main-slider__list
			li.main-slider__item
				img.main-slider__img(src="./img/slider1.jpg", alt="")
			li.main-slider__item
				img.main-slider__img(src="./img/slider2.jpg", alt="")
			li.main-slider__item
				.main-slider__text
					h2.main-slider__h2 Божественное масло Иммортель
					.main-slider__hr
					p.main-slider__p Божественное масло борется со всеми признаками старения, возвращает коже молодой вид, делает ее более плотной и упругой.
					a.main-slider__btn подробнее
				img.main-slider__img(src="./img/slider3.jpg", alt="")
			li.main-slider__item
				img.main-slider__img(src="./img/slider4.jpg", alt="")
			li.main-slider__item
				img.main-slider__img(src="./img/slider5.jpg", alt="")

