section.sub-footer
	.wrapper
		.sub-footer__content
			a.logo__link(href="#")
				img.logo__img(src="./img/logo-img.png", alt="")
				img.logo__text(src="./img/logo-text.png", alt="")
			h2.sub-footer__h2 МАГАЗИН НАТУРАЛЬНОЙ КОСМЕТИКИ И СЕЛЕКТИВНОЙ ПАРФЮМЕРИИ
			p.sub-footer__p (ОФЛАЙН-МАГАЗИН ОТКРЫТ ЕЖЕДНЕВНО С 10 ДО 21)
			img.sub-footer__icon(src="./img/sub-footer_icon.png", alt="")
			p.sub-footer__p МОСКВА, ЯБЛОЧКОВА УЛИЦА, ДОМ 21А
			p.sub-footer__p ТЦ «ТИМИРЯЗЕВСКИЙ», 1 ЭТАЖ
			p.sub-footer__p 8 (499) 755-59-76
